#background-black {
    background-color: black;
}

.jumbotron {
    background-image: url('C:\Users\jorda\OneDrive\Desktop\Psychic-Game\assets\Images\hangman-baseball.jpg');
    background-size: cover;
    margin-top: 20px;
}

.card {
    margin: 0 0 20px 0;
}